<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ITer_Club（艾特社区）</title>
	<link rel="stylesheet" type="text/css" href="../css/course.css">
	<link rel="stylesheet" type="text/css" href="../css/school.css">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_8h2fgrztz6e9izfr.css">
</head>
<body> 
	<!-- 顶部 -->
	<div class="c-top">
		<!-- logo -->
		<div class="logo">
			<a href="course-index.html"><img src="../image/logo.jpg"></a>
		</div>
		<!-- top导航 -->
		<div class="topNav-box">
			<ul>
				<li><a href="course-index.html" class="f-01">课程</a><div class="current"></div></li>
				<li><a href="" class="f-01">学校</a><div class=""></div></li>
				<li><a href="" class="f-01">文章</a><div class=""></div></li>
			</ul>
		</div>
		<!-- 搜索框 -->
		<div class="search-box">
			<form class="search-wrap">
				<input class="search-input" type="text" name="search-input" placeholder="搜索教程"></input>
				<input class="search-submit" type="submit" value=""></input>
			</form>
		</div>
		<!-- 登陆按钮 -->
		<div class="unlogin-box">
				<a href="login.html" class="f-01 lognin-btn">登录 &nbsp;&nbsp;</a>|<a href="register.html" class="f-01 resiger-btn">&nbsp;&nbsp; 注册</a>
		</div>
		<!-- 用户信息 -->
		<div class="login-box">
			<img src="../image/user/04.jpg" alt="" class="user-img">
			<div class="user-operation">
				<a href="" class="f-01">个人中心</a>
				<a href="" class="f-01">退出登录</a>
			</div>
		</div>
	</div>
	<!-- 主体 -->
	<div class="container">
		<!-- 学校背景 -->
		<div class="sc-bg">
			<div class="bg-shadow"></div>	
		</div>
		<!-- 课程 -->
		<div class="course-list">
			<!-- 学校信息 -->
			<div class="sc-info-box">
				<div class="sc-img">
					<img src="../image/school/SC-02.png" >
				</div>
				<div class="sc-info">
					<h3 class="sc-name">北京大学</h3>
					<p class="sc-describe">北京大学创办于1898年，初名京师大学堂，是中国第一所国立综合性大学，也是当时中国最高教育行政机关。辛亥革命后，于1912年改为现名。 学校为教育部直属全国重点大学，国家“211工程”、“985工程”建设大学、C9联盟，以及东亚研究型大学协会、国际研究型大学联盟、环太平洋大学联盟、东亚四大学论坛的重要成员。</p>
				</div>
			</div>
			<div class="c-title"><span>课程</span></div>
			<div class="c-l-box">	
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="course-box">
					<div class="c-img">
						<img src="../image/course/c-img.jpg" class="pic">
					</div>
					<div class="c-1">大学英语（口语）</div>
					<div class="c-2"><a href="" class="c-sc f-01">北京大学</a><span class="c-num"><i class="iconfont mooc-xuegongduiwuguanli"></i>12306</span></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="sc-t-list">
			<div class="t-title"><span>课程</span></div>
			<div class="t-l-box">	
				<a class="teacher-box f-01" href="">
					<div class="t-img">
						<img src="../image/01.gif">
					</div>
					<div class="t-1">韩梅梅</div>
					<div class="t-2">教授</div>
				</a>
				<a class="teacher-box f-01" href="">
					<div class="t-img">
						<img src="../image/01.gif">
					</div>
					<div class="t-1">韩梅梅</div>
					<div class="t-2">教授</div>
				</a>
				<a class="teacher-box f-01" href="">
					<div class="t-img">
						<img src="../image/01.gif">
					</div>
					<div class="t-1">韩梅梅</div>
					<div class="t-2">教授</div>
				</a>
				<a class="teacher-box f-01" href="">
					<div class="t-img">
						<img src="../image/01.gif">
					</div>
					<div class="t-1">韩梅梅</div>
					<div class="t-2">教授</div>
				</a>
				<a class="teacher-box f-01" href="">
					<div class="t-img">
						<img src="../image/01.gif">
					</div>
					<div class="t-1">韩梅梅</div>
					<div class="t-2">教授</div>
				</a>
				<a class="teacher-box f-01" href="">
					<div class="t-img">
						<img src="../image/01.gif">
					</div>
					<div class="t-1">韩梅梅</div>
					<div class="t-2">教授</div>
				</a>
				<a class="teacher-box f-01" href="">
					<div class="t-img">
						<img src="../image/01.gif">
					</div>
					<div class="t-1">韩梅梅</div>
					<div class="t-2">教授</div>
				</a>
				<a class="teacher-box f-01" href="">
					<div class="t-img">
						<img src="../image/01.gif">
					</div>
					<div class="t-1">韩梅梅</div>
					<div class="t-2">教授</div>
				</a>
				<div class="clear"></div>
				<div class="t-btn">
					<a href="" class="last-page f-01">上一页</a>
					<a href="" class="p f-01">1</a>
					<a href="" class="p f-01">2</a>
					<a href="" class="next-page f-01">下一页</a>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div class="clear"></div>
	<div class="c-footer">MOOC</div>
	
<script src="../js/jquery.min.js"></script>
<script>
//用户操作框隐藏|显示
$(function(){
	$('.login-box').hover(function(){
		$(this).css('background-color','#242528');
		$('.user-operation').css('display','block');
	},function(){
		$(this).css('background-color','#2E323E');
		$('.user-operation').css('display','none');
	});
});
// img放大特效
$(function(){
	$w = $('.pic').width();
	$h = $('.pic').height();
	$w2 = $w + 10;
	$h2 = $h + 10;

	$('.course-box').hover(function(){
		 $(this).find('.pic').stop().animate({height:$h2,width:$w2,left:"-10px",top:"-10px"},500);
	},function(){
		 $(this).find('.pic').stop().animate({height:$h,width:$w,left:"0px",top:"0px"},500);
	});
});

</script>
</body>
</html>